//! **************************************************************************
// Written by: Map P.20131013 on Sat Jun 01 11:11:58 2024
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "CLK_IN" LOCATE = SITE "V10" LEVEL 1;
COMP "OUT_SEG<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "OUT_SEG<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "OUT_SEG<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "OUT_SEG<3>" LOCATE = SITE "C4" LEVEL 1;
COMP "OUT_SEG<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "OUT_SEG<5>" LOCATE = SITE "D6" LEVEL 1;
COMP "OUT_SEG<6>" LOCATE = SITE "C6" LEVEL 1;
COMP "OUT_SEG<7>" LOCATE = SITE "B2" LEVEL 1;
COMP "RST" LOCATE = SITE "C17" LEVEL 1;
COMP "OUT_LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "OUT_LED<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "OUT_LED<2>" LOCATE = SITE "N15" LEVEL 1;
NET "CLK_IN_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

