//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 22 17:33:38 2024
//! **************************************************************************

SCHEMATIC START;
COMP "O<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "O<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "O<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "O<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "O<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "O<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "O<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "O<7>" LOCATE = SITE "T18" LEVEL 1;
COMP "I<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "I<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "I<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "I<3>" LOCATE = SITE "E18" LEVEL 1;
COMP "I<4>" LOCATE = SITE "D18" LEVEL 1;
COMP "I<5>" LOCATE = SITE "D17" LEVEL 1;
COMP "I<6>" LOCATE = SITE "C18" LEVEL 1;
COMP "I<7>" LOCATE = SITE "C17" LEVEL 1;
SCHEMATIC END;

