//! **************************************************************************
// Written by: Map P.20131013 on Mon May 13 13:03:31 2024
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "SEVENSEG<3>" LOCATE = SITE "C4" LEVEL 1;
COMP "SEVENSEG<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "SEVENSEG<5>" LOCATE = SITE "D6" LEVEL 1;
COMP "LED" LOCATE = SITE "P15" LEVEL 1;
COMP "SEVENSEG<6>" LOCATE = SITE "C6" LEVEL 1;
COMP "SEVENSEG<7>" LOCATE = SITE "A5" LEVEL 1;
COMP "RST_BTN" LOCATE = SITE "M16" LEVEL 1;
COMP "BTN0" LOCATE = SITE "M18" LEVEL 1;
COMP "BTN1" LOCATE = SITE "L18" LEVEL 1;
COMP "RST" LOCATE = SITE "C17" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "SEVENSEG<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "SEVENSEG<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "SEVENSEG<2>" LOCATE = SITE "A4" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

