//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 26 12:39:19 2024
//! **************************************************************************

SCHEMATIC START;
COMP "I" LOCATE = SITE "C17" LEVEL 1;
COMP "O" LOCATE = SITE "P15" LEVEL 1;
SCHEMATIC END;

